@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
* {
    padding: 0;
    margin: 0;
    }

body {
    margin: 15px;
    padding: 15px;
}

#formulario {
    font-family: 'Noto Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto {
    font-family: 'Noto Serif', serif;
    justify-content: center;
    margin: 15px;
}