@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
* {
    padding: 0;
    margin: 0;
    }

body {
    margin: 15px;
    padding: 15px;
}

.contenedorLista {
    display: flex;
    flex-wrap: wrap;
}

.tarjeta {
    font-family: 'Noto Serif', serif;
    width: auto;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid fuchsia;
    border-radius: 10px;
}

#formulario {
    font-family: 'Noto Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto {
    font-family: 'Noto Serif', serif;
    justify-content: center;
    margin: 15px;
}

#ingreso{
    font-family: 'Noto Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: pink;
    align-items: center;
    border: 1px solid fuchsia;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

main{
    display: none;
}